

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --dark1:#34344e;
    --dark2:#3a415a;
    --dark3:#566981;
    --dark4:#89a7b1;
    --dark5:#cbdad5;
    --dark6:#2f2f46;
    --cyan1:#70e3ea;

}
body {
   /* background-color: var(--dark1); */
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #34344e 35%, #a0afe2, #566981 99%); ;

}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--dark6);
    min-height: 50px;

}
.img-logo {
    max-width: 60px;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section {
    padding: 1rem;

}
.first-section {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}