

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --dark1:#34344e;
    --dark2:#3a415a;
    --dark3:#566981;
    --dark4:#89a7b1;
    --dark5:#cbdad5;
    --dark6:#2f2f46;
    --cyan1:#70e3ea;

}
body {
    height: 100vh;
    background: linear-gradient(72deg, #2f2f46 25%, #566981, #597df1 99%); ;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.logo {
    background: -webkit-linear-gradient(#70e3ea, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
      
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--dark6);
    min-height: 50px;

}
.img-logo {
    max-width: 60px;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section {
    padding: 1rem;

}
.first-section {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.segunda-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.title-one {
    font-size: 25px;
}
.text-one {
    font-size: 50px;
    color: #ffff;
}
.title-first {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title-two {
    display: flex;
    flex-direction: column;
    color: #ffff;
    gap: 2rem;
}
.paragrafo {
    font-size: medium;
}

/*resposividade da pagina */
@media screen and (max-width: 760px) {

    .title-first {
        flex-direction: column;
    }
  
    .content {
        display: block;
        flex-direction: column;
    }
   .title-first {
    flex-direction: column;
   }
   .navigation {
    position: absolute;
    top: 875px;
    
    

    
    
   }
 



   
    }
    